@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway:500');

*{
	font-family: "Raleway", sans-serif;

}

body{
	background-color: #ECF0F1;
	margin-left: 20px;
}

h1, h2, h3{
	font-family: 'Lobster', cursive;
}

p{
	font-family: 'Raleway', sans-serif;
}

a{
	text-decoration: none;
	color:#F4D03F;
}


section.intro{
	background-color: rgba(8, 134, 74, 0.90) ;
}

section header h1{
	font-size: 75px;
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 130px;
}

section header h2{
	text-align: center;
	color: #fff;
}

#zen-summary{
	text-align: center;
	padding: 6%;
	color: #fff;
}

.preamble, .participation, .requirements{
	padding: 20%;
	background-color: #ECF0F1;
	color: #2C3E50;  
}
.explanation, .benefits{
	padding: 20%;
	background-color: rgba(8, 134, 74, 0.90);
	color: #fff; 

}
h3 .explanation{
	color: #fff;
}

footer {
	padding:40px 40px;
	background-color: rgba(8, 134, 74, 0.90);
	color: #fff; 
	text-align: center;	
}
.fa-4x {
    font-size: 4em;
    padding: 16px;
    color:#fff;
}


